#main, #statusT{
    border-collapse: collapse;
    margin: 0 auto;
    min-width: 100%;
}

#left{
    border-right-style: solid;
    border-width: 2px;
    width: 50%;
    text-align: center;
    padding-right: 2%;
}

#right{
    border-left-style: solid;
    border-width: 2px;
    padding-left: 2%;
    width: 50%;
    text-align: left;
}

.recent_row{
    border-bottom-style: dashed;
    border-width: 1px;
}

select{
    width: 100%;
}

input{
    width: 97.5%;
}
