#main {
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
}

#left {
    border-right-style: solid;
    border-width: 2px;
    padding-right: 1%;
    width: 50%;
}

#right {
    border-left-style: solid;
    border-width: 2px;
    padding-left: 2%;
    width: 50%;
}

#all_accounts {
    margin: 0 auto;
    border-collapse: collapse;
    min-width: 100%;
}

#all_accounts th {
    border-width: 2px;
    border-style: solid;
}

#all_accounts td {
    text-align: center;
    border-width: 1px;
    border-style: solid;
}
