#main{
    border-collapse: collapse;
    margin: 0 auto;
    min-width: 80%;
}

#left{
    border-right-style: solid;
    border-width: 2px;
    width: 45%;
    padding-right: 2%;
}

#right{
    border-left-style: solid;
    border-width: 2px;
    padding-left: 2%;
    width: 55%;
    text-align: left;
}

.recent_row{
    border-bottom-style: dashed;
    border-width: 1px;
    text-align: left;
}

#accounts_table{
    margin: auto auto;
    min-width: 100%;
}
.col1{
    text-align: left;
    width: 50%;
}
.col2{
    text-align: right;
    width: 50%;
}
