body{
    display: block;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

html body nav {
    text-align: center;
}

#nav{
    margin: 0 auto;
    min-width: 85%;
    border-collapse: collapse;
}

.navi{
    width: 20%;
    border-style: solid;
    border-width: 1px;
    padding: 1%;
    background-color: gainsboro;
}

#user{
    text-align: right;
}

main{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding: 10px;
    margin-bottom: 20px;
}

.odd_row{
    background-color: rgb(245, 245, 245);
}

.even_row{
    background-color: rgb(235, 235, 235);
}
