#all_users{
    margin: 0 auto;
    border-collapse: collapse;
    min-width: 80%;
}

#all_users th{
    border-width: 2px;
    border-style: solid;
}

#all_users td{
    text-align: center;
    border-width: 1px;
    border-style: solid;
}
