body{
    display: block;
    position: relative;
    size: A4;
    margin: 0 auto;
}

html body header{
    text-align: center;
}

#data_table{
    font-family: "Times New Roman", Times, serif;
    font-size: 1.1em;
    margin: 0 auto;
    border-collapse: collapse;
    border-width: 2px;
    border-style: solid;
    min-width: 6.27in;
}

#data_table tr th{
    border-style: solid;
    border-width: 2px;
}

#data_table tr td{
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

#data_table tr td.amo{
    border-style: solid;
    border-width: 1px;
    text-align: right;
    padding-right: 1%;
}

.date{
    width: 28%;
}
.acc{
    width: 27%;
}

.amo {
    width: 15%;
}

@media print {
    .not_print {
        display: none;
    }
    @page {
        margin-top: 1in;
        margin-bottom: 1in;
    }
}

#info_table{
    min-width: 6.27in;
    border-collapse: collapse;
    margin: 0 auto;
}
