#data_table{
    margin: 0 auto;
    border-collapse: collapse;
    border-width: 2px;
    border-style: solid;
}

#data_table tr th{
    border-style: solid;
    border-width: 2px;
}

#data_table tr td{
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

.sl{
    width: 3%;
}
.date{
    width: 22%;
}
.acc{
    width: 18%;
}
.pageNo{
    cursor: pointer;
}
.pageNo:hover{
    text-decoration: underline;
    color: cyan;
    font-weight: bold;
}
