{% extends 'root_with_navigation.html' %}
{% block title %}About Developers{% endblock %}
{% block css_js %}
    {% load static %}
    <script src="{% static 'common_functions.js' %}" type="text/javascript"></script>
    <style>
        footer {
            display: none;
        }

        {% if not logged_in %}
            nav {
                display: none;
            }
        {% endif %}
    </style>
{% endblock %}
{% block page_content %}
    <table style="margin: 0 auto;">
        <tr>
            <th colspan="3"><h3>Team Name: Triple A</h3></th>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center;"><strong>Team Members</strong></td>
        </tr>
        <tr>
            <td style="padding-right: 10px;">
                Md. Abdulla Al Mamun,<br/>
                Session: 2013-14,<br/>
                ID: 1306001,<br/>
                Email: <a href="mailto:nayonabdulla@gmail.com">nayonabdulla@gmail.com</a>,<br/>
                Phone: 01755166019
            </td>
            <td style="padding-left: 10px;padding-right: 10px;">
                Abdullah Al Kafi,<br/>
                Session: 2013-14,<br/>
                ID: 1306005,<br/>
                Email: <a href="mailto:abdullahkafinayan@gmail.com">abdullahkafinayan@gmail.com</a>,<br/>
                Phone: 01756723666
            </td>
            <td style="padding-left: 10px;">
                Azad Hossain,<br/>
                Session: 2013-14,<br/>
                ID: 1306003,<br/>
                Email: <a href="mailto:ajadth@gmail.com">ajadth@gmail.com</a>,<br/>
                Phone: 01755471476
            </td>
        </tr>
    </table>
{% endblock %}

