{% extends 'root_with_navigation.html' %}
{% block title %}Accountant Home{% endblock %}
{% block css_js %}
    {% load static %}
    <script src="{% static 'common_functions.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'accountant.css' %}"/>
{% endblock %}
{% block page_content %}
    <br/>
    <div>
        <table id="statusT">
            <tr>
                {% if status %}
                    <td><label id="status">{{ status }}</label></td>
                {% endif %}
            </tr>
        </table>
    </div>
    <br/>
    <table id="main">
        <tr>
            <th>
                <h3>Add New Transaction</h3>
            </th>
            <th>
                <h3>Recent</h3>
            </th>
        </tr>
        <tr>
            <td id="left">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table style="margin: 0 auto;min-width: 90%;">
                        <tr>
                            <td style="text-align: end;">
                                Account:
                            </td>
                            <td style="text-align: start;">
                                {{ accform.account }}
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: end;">Amount:</td>
                            <td style="text-align: start;">{{ accform.amount }}</td>
                        </tr>
                        <tr>
                            <td style="text-align: end;">Repeat Amount:</td>
                            <td style="text-align: start;">{{ accform.amount2 }}</td>
                        </tr>
                        <tr>
                            <td style="text-align: end;"><label for="tr_type">Transaction Type:</label></td>
                            <td style="text-align: start;">
                                {{ accform.tr_type }}
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: end;"><label for="id_legal_doc_image">Image of Document:</label></td>
                            <td style="text-align: start;">
                                {{ accform.legal_doc_image }}
                            </td>
                        </tr>
                        <tr id="st_id_row" style="display: none;">
                            <td style="text-align: end; vertical-align: top">
                                <label for="student_id">Student ID:</label>
                            </td>
                            <td style="text-align: start;">
                                {{ accform.student_id }}
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: end; vertical-align: top"><label for="desc">Short
                                Description:</label></td>
                            <td style="text-align: start;">
                                {{ accform.desc }}
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="text-align: center;">
                                <button style="width:100%" id="submit">Add Transaction</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
            <td id="right">
                <table style="margin: 0 auto; min-width: 90%;">
                    {% for i in count_range %}
                        <tr class="{% cycle 'odd_row' 'even_row' %}">
                            <td style="margin-top: 5px;" class="recent_row" id="row{{ i }}"></td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <td style="text-align: center">
                            <h4><a href="{% url 'view_all' %}">More Transactions</a></h4>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}
{% block js_code %}
    <script>
        recent5Request = new XMLHttpRequest();

        function getRecentTransactions() {
            let url = "{% url 'recent5' %}";
            recent5Request.open('GET', url);
            recent5Request.responseType = 'json';
            recent5Request.send();
            recent5Request.onload = function () {
                let trs = recent5Request.response;
                let rows = document.getElementsByClassName('recent_row');
                for (let i = 0; i < trs.length; i++) {
                    let on_from = " on ";
                    if (trs[i]['type'] === 'Debit')
                        on_from = " from ";
                    rows[i].textContent = trs[i]['amount'] + "৳ " + trs[i]['type'] + "ed " + on_from + "\"" + trs[i]['acc'] + "\"";
                }
                if (trs.length === 0) {
                    for (let i = trs.length; i < 5; i++) {
                        rows[i].textContent = "No Transactions yet. Make some transactions";
                    }
                } else {
                    for (let i = trs.length; i < 5; i++) {
                        rows[i].textContent = "No More Transactions";
                    }
                }
            };
        }

        setInterval(getRecentTransactions, 5 * 1000);//5 seconds
        getRecentTransactions();

        document.getElementById("id_legal_doc_image").required = true;
        document.querySelector("form").addEventListener("submit", function (event) {
            if (!validateForm()) {
                event.preventDefault();
            }
        });

        let submitBtn = document.querySelector("#submit");
        let accountSelector = document.querySelector("#id_account");
        let amount = document.querySelector("#id_amount");
        let amount2 = document.querySelector("#id_amount2");
        let transaction_type = document.querySelector("#id_tr_type");
        let description = document.querySelector("#id_desc");
        let image_file = document.querySelector("#id_legal_doc_image");
        let student_id = document.querySelector("#id_student_id");
        let st_id_row = document.querySelector("#st_id_row");

        let notValidElement = null;
        let errorMessage = "Error Message";
        submitBtn.onclick = function () {
            accountSelector.style.backgroundColor = null;
            amount.style.backgroundColor = null;
            amount2.style.backgroundColor = null;
            transaction_type.style.backgroundColor = null;
            description.style.backgroundColor = null;
            student_id.style.backgroundColor = null;
            if (!validateForm()) {
                notValidElement.style.backgroundColor = "Orange";
                alertify.alert("Validation Error!", errorMessage);
            }
        };

        let edited = false;
        description.onclick = function () {
            if (!edited || getCharCount(description.value) === 0) {
                description.value = "";
                edited = true;
            }
        };

        function validateForm() {
            if (getCharCount(accountSelector.value) === 0) {
                notValidElement = accountSelector;
                errorMessage = "Please select an account.";
                return false;
            }
            if (amount.value <= 0) {
                notValidElement = amount;
                errorMessage = "Amount must be POSITIVE number.";
                return false;
            }
            if (Math.abs(amount.value - amount2.value) > 1e-9) {
                notValidElement = amount;
                errorMessage = "Both Amount must be same.";
                return false;
            }
            if (getCharCount(transaction_type.value) === 0) {
                notValidElement = transaction_type;
                errorMessage = "Please Select Transaction Type.";
                return false;
            }
            if (!image_file.value) {
                notValidElement = image_file;
                errorMessage = "Please Select a 'Image of Document'";
                return false;
            } else if (image_file.files[0].size >= {{ mxf }}) { // {{ mxf }} bytes
                notValidElement = image_file;
                let v = {{ mxf }};
                let mb = v / (1024 * 1024);
                errorMessage = "Selected File must be less than " + mb + " MB.";
                return false;
            }
            if (req_student_id(accountSelector.value) && transaction_type.value === 'credit'
                && getCharCount(student_id.value) === 0) {
                notValidElement = student_id;
                errorMessage = "Please give the Student ID for which this transaction is.";
                return false;
            }
            if (getCharCount(description.value) === 0 || !edited) {
                notValidElement = description;
                errorMessage = "Please give a short description about this transaction.";
                return false;
            }
            if (req_student_id(accountSelector.value) && transaction_type.value === 'credit'
                && !description.value.startsWith(student_id.value)) {
                description.value = student_id.value + " " + description.value;
            }
            return true;
        }

        let lst = [
            {% for st_id in req_st_id_lst %}
                "{{ st_id }}"
                {% if forloop.revcounter0 %}
                    ,
                {% endif %}
            {% endfor %}
        ];
        accountSelector.addEventListener('change', function () {
            if (req_student_id(accountSelector.value) && transaction_type.value === 'credit') {
                st_id_row.style.display = 'table-row';
                student_id.required = true;
            } else {
                st_id_row.style.display = 'none';
                student_id.required = false;
            }
        });

        transaction_type.addEventListener('change', function () {
            if (req_student_id(accountSelector.value) && transaction_type.value === 'credit') {
                st_id_row.style.display = 'table-row';
                student_id.required = true;
            } else {
                st_id_row.style.display = 'none';
                student_id.required = false;
            }
        });

        function req_student_id(ac_name) {
            for (let i = 0; i < lst.length; i++) {
                if (ac_name === lst[i]) return true;
            }
            return false;
        }
    </script>
{% endblock %}
