{% extends 'root_with_navigation.html' %}
{% block title %}Admin Home{% endblock %}
{% block css_js %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin.css' %}"/>
{% endblock %}

{% block page_content %}
    <br/>
    <table id="main">
        {% if is_admin %}
            <tr>
                <td style="text-align: center;">
                    <a href="{% url 'admin_accounts_manage' %}">
                        <strong>
                            Manage Accounts
                        </strong>
                    </a>
                </td>
                <td style="text-align: center;">
                    <a href="{% url 'admin_actions' %}">
                        <strong>
                            Manage Users
                        </strong>
                    </a>
                </td>
            </tr>
        {% endif %}
        <tr>
            <th>
                <h3>Summary</h3>
            </th>
            <th>
                <h3>Recent</h3>
            </th>
        </tr>
        <tr>
            <td id="left">
                <table id="accounts_table">
                    <tr class="even_row">
                        <th class="col1">
                            Accounts
                        </th>
                        <th class="col2">
                            Amount
                        </th>
                    </tr>

                    {% for account in acc_info %}
                        <tr  class="{% cycle 'odd_row' 'even_row' %}">
                            <td class="col1">{{ account.name }}</td>
                            <td class="col2">{{ account.amount }}/-</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
            <td id="right">
                <table style="margin: 0 auto;min-width: 100%;">
                    {% for i in count_range %}
                        <tr class="{% cycle 'odd_row' 'even_row' %}">
                            <td style="margin-top: 5px;" class="recent_row" id="row{{ i }}"></td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <td style="text-align: center;">
                            <h4><a href="{% url 'view_all' %}">More Transactions</a></h4>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}

{% block js_code %}
    <script>
        recent5Request = new XMLHttpRequest();
        requestBalance = new XMLHttpRequest();
        function getRecentTransactions() {
            let url = "{% url 'recent5' %}";
            recent5Request.open('GET', url);
            recent5Request.responseType = 'json';
            recent5Request.send();
            recent5Request.onload = function () {
                let trs = recent5Request.response;
                let rows = document.getElementsByClassName('recent_row');
                for (let i = 0; i < trs.length; i++) {
                    let on_from = " on ";
                    if (trs[i]['type'] === 'Debit')
                        on_from = " from ";
                    rows[i].textContent = trs[i]['amount'] + "৳ " + trs[i]['type'] + "ed " + on_from + "\""+trs[i]['acc']+"\"";
                }
                if (trs.length === 0){
                    for (let i = trs.length; i < 5; i++) {
                        rows[i].textContent = "No Transactions yet";
                    }
                }else {
                    for (let i = trs.length; i < 5; i++) {
                        rows[i].textContent = "No More Transactions";
                    }
                }
            };
        }
        function getAmounts() {
            let bal_url = "{% url 'balances' %}";
            requestBalance.open('GET', bal_url);
            requestBalance.responseType = 'json';
            requestBalance.send();
            requestBalance.onload = function () {
                let balance = requestBalance.response;
                let rows = document.getElementsByClassName('col2');
                for (let i = 1; i < rows.length; i++) {
                    rows[i].textContent = balance[i-1]['amount'] + "/-";
                }
            };
        }

        setInterval(getRecentTransactions, 5 * 1000);//5 seconds
        setInterval(getAmounts, 5 * 1000);//5 seconds
        getRecentTransactions();
    </script>
{% endblock %}
