{% extends 'root_with_navigation.html' %}
{% block title %}
    Manage Financial Accounts
{% endblock %}
{% block css_js %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin_accounts_manage.css' %}"/>
    <script src="{% static 'common_functions.js' %}" type="text/javascript"></script>
{% endblock %}

{% block page_content %}
    <br/>
    <table id="main">
        <tr>
            <th>
                <h3>Create New Account</h3>
            </th>
            <th>
                <h3>All Accounts</h3>
            </th>
        </tr>
        <tr>
            <td id="left">
                <form id="create_account" method="POST" action="" autocomplete="off">
                    {% csrf_token %}
                    <table style="margin: 0 auto;">
                        {% if msg %}
                            <tr>
                                <td colspan="2" style="text-align: center;"><strong>{{ msg }}</strong></td>
                            </tr>
                        {% endif %}
                        <tr id="account_name_label">
                            <td style="text-align: end;"><label for="account_name">Account Name:</label></td>
                            <td><input placeholder="eg: CSE CLUB" type="text" name="account_name" id="account_name"
                                       style="width:97.5%;"/></td>
                        </tr>
                        <tr id="account_id_label">
                            <td style="text-align: end;"><label for="account_id">Account Number:</label></td>
                            <td><input placeholder="eg: Janata_Bank_12345" type="text" name="account_id" id="account_id"
                                       style="width:97.5%;"/></td>
                        </tr>
                        <tr id="student_id_label">
                            <td style="text-align: end;">
                                <label for="is_student_id_required">Need Student ID?</label>
                            </td>
                            <td style="text-align: left;">
                                <input type="checkbox" name="is_student_id_required" id="is_student_id_required"/>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="text-align: center">
                                <button style="width: 100%;" id="submit">
                                    Create Account
                                </button>
                            </td>
                        </tr>
                        <tr style="color: darkorange; visibility: hidden;" id="info">
                            <td colspan="2">Account Name will be shown to the user whenever an account reference is
                                necessary. So please use meaningful names.
                            </td>
                    </table>
                </form>
            </td>
            <td id="right">
                <form id="accounts" method="post" action="">
                    {% csrf_token %}
                    <table id="all_accounts">
                        <tr>
                            <th>Account Name</th>
                            <th>Status</th>
                            <th>Mark</th>
                        </tr>
                        {% for account in accounts %}
                            <tr class="{% cycle 'odd_row' 'even_row' %}">
                                <td><label for="{{ account.id }}">{{ account.name }}</label></td>
                                <td>
                                    {% if account.status %}
                                        Active
                                    {% else %}
                                        Inactive
                                    {% endif %}
                                </td>
                                <td><input type="checkbox" name="{{ account.id }}" id="{{ account.id }}"/></td>
                                {% comment %}CheckBox name attribute must be equals to Username{% endcomment %}
                            </tr>
                        {% endfor %}
                    </table>
                    <div style="text-align: center;">
                        <button style="margin-top: 10px;">Toggle The Status of Marked Accounts</button>
                    </div>
                </form>
            </td>
        </tr>
    </table>
{% endblock %}

{% block js_code %}
    <script type="text/javascript">
        create_user_form = document.querySelector("#create_account");
        account_name = document.querySelector("#account_name");
        account_id = document.querySelector("#account_id");
        button = document.querySelector("#submit");

        create_user_form.addEventListener("submit", function (event) {
            if (!validate_user_form()) {
                event.preventDefault();
            }
        });

        let invalidElement;
        let errorMessage;

        button.onclick = function () {
            account_name.style.backgroundColor = null;
            account_id.style.backgroundColor = null;
            if (!validate_user_form()) {
                invalidElement.style.backgroundColor = "Orange";
                alertify.alert("Validation Error!", errorMessage);
            }
        };

        function validate_user_form() {
            if (getCharCount(account_name.value) === 0) {
                invalidElement = account_name;
                errorMessage = "Please give Account Name";
                return false;
            }
            if (getCharCount(account_id.value) === 0) {
                invalidElement = account_id;
                errorMessage = "Please input Account ID";
                return false;
            }
            return true;
        }

        account_name_label = document.getElementById("account_name_label");
        account_id_label = document.getElementById("account_id_label");
        student_id_label = document.getElementById("student_id_label");
        info = document.getElementById("info");

        account_name_label.addEventListener("mouseover", function (event) {
            info.style.visibility = "visible";
            info.childNodes[1].textContent = "\"Account Name\" will be shown to the user whenever an account's reference is necessary. So please use meaningful names.";
        });
        account_name_label.addEventListener("mouseleave", function (event) {
            info.style.visibility = "hidden";
        });
        account_id_label.addEventListener("mouseover", function (event) {
            info.style.visibility = "visible";
            info.childNodes[1].textContent = "\"Account Number\" will be not be shown to the user. But will be used with internal system works.\n" +
                "                                    Please use this format: bank_name_account_number.";
        });
        account_id_label.addEventListener("mouseleave", function (event) {
            info.style.visibility = "hidden";
        });
        student_id_label.addEventListener("mouseover", function (event) {
            info.style.visibility = "visible";
            info.childNodes[1].textContent = "If you check this box then the \"Accountant\" will need to enter the 'Student ID' with transactions.";
        });
        student_id_label.addEventListener("mouseleave", function (event) {
            info.style.visibility = "hidden";
        });
    </script>
{% endblock %}
