{% extends 'root_with_navigation.html' %}
{% block title %}Admin Dashboard{% endblock %}
{% block css_js %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin_actions.css' %}"/>
    <script src="{% static 'common_functions.js' %}" type="text/javascript"></script>
{% endblock %}
{% block page_content %}
    <br/>
    <div style="text-align: center"><a href="{% url 'blocked_users' %}">All Blocked Users</a></div>
    <table id="main">
        <tr>
            <th>
                <h3>Create New User</h3>
            </th>
            <th>
                <h3>Available Users</h3>
            </th>
        </tr>
        <tr>
            <td id="left">
                <form id="create_user" method="POST" action="" autocomplete="off">
                    {% csrf_token %}
                    <table style="margin: 0 auto;">
                        {% if msg %}
                            <tr>
                                <td colspan="2" style="text-align: center;"><strong>{{ msg }}</strong></td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td style="text-align: end;"><label for="username">Username:</label></td>
                            <td><input placeholder="eg: abdul_karim" type="text" name="username" id="username"
                                       style="width:97.5%;"/></td>
                        </tr>
                        <tr>
                            <td style="text-align: end;"><label for="password">Password:</label></td>
                            <td><input placeholder="pAsswoRd" type="password" name="password1" id="password"
                                       style="width:97.5%;"/></td>
                        </tr>
                        <tr>
                            <td style="text-align: end;"><label for="password2">Repeat Password:</label></td>
                            <td><input placeholder="pAsswoRd" type="password" name="password2" id="password2"
                                       style="width:97.5%;"/></td>
                        </tr>
                        <tr>
                            <td style="text-align: end;"><label for="userType">User Type:</label></td>
                            <td>
                                <select name="userType" id="userType" style="width: 100%;">
                                    {% for userType in user_types %}
                                        <option value={{ userType.type_id }}>{{ userType.type_name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="text-align: center">
                                <button style="width: 100%;" id="submit">
                                    Create User
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
            <td id="right">
                <form id="users" method="post" action="">
                    {% csrf_token %}
                    <table id="all_users">
                        <tr>
                            <th>Username</th>
                            <th>User Type</th>
                            <th>Mark</th>
                        </tr>
                        {% for user in users %}
                            <tr class="{% cycle 'odd_row' 'even_row' %}">
                                <td><label for="{{ user.username }}">{{ user.username }}</label></td>
                                <td>{{ user.type }}</td>
                                <td><input type="checkbox" name="{{ user.username }}" id="{{ user.username }}"/></td>
                                {% comment %}CheckBox name attribute must be equals to Username{% endcomment %}
                            </tr>
                        {% endfor %}
                    </table>
                    <div style="text-align: center;">
                        <button style="margin-top: 10px;">Block Marked Users</button>
                    </div>
                </form>
            </td>
        </tr>
    </table>
{% endblock %}
{% block js_code %}
    <script type="text/javascript">
        create_user_form = document.querySelector("#create_user");
        username = document.querySelector("#username");
        password = document.querySelector("#password");
        password2 = document.querySelector("#password2");
        userType = document.querySelector("#userType");
        button = document.querySelector("#submit");

        create_user_form.addEventListener("submit", function (event) {
            //            alert("submit?");
            if (!validate_user_form()) {
                event.preventDefault();
            }
        });

        let invalidElement;
        let errorMessage;

        button.onclick = function () {
            username.style.backgroundColor = null;
            password.style.backgroundColor = null;
            userType.style.backgroundColor = null;
            if (!validate_user_form()) {
                invalidElement.style.backgroundColor = "Orange";
                alertify.alert("Validation Error!", errorMessage);
            }
        };

        function validate_user_form() {
            if (getCharCount(username.value) === 0) {
                invalidElement = username;
                errorMessage = "Please give username";
                return false;
            }
            if (getCharCount(password.value) === 0) {
                invalidElement = password;
                errorMessage = "Please input password";
                return false;
            }
            if (password.value !== password2.value) {
                invalidElement = password;
                errorMessage = "Passwords don't match";
                return false;
            }
            if (getCharCount(userType.value) === 0) {
                invalidElement = userType;
                errorMessage = "Please select user type";
                return false;
            }
            return true;
        }
    </script>
{% endblock %}
