{% extends 'root_with_navigation.html' %}
{% block title %}Balance Check{% endblock %}
{% block css_js %}
    <style>
        #accounts_table {
            margin: 30px auto;
        }

        .col1 {
            text-align: left;
            width: 70%;
        }

        .col2 {
            text-align: right;
            width: 30%;
        }
    </style>
{% endblock %}


{% block page_content %}
    <table id="accounts_table">
        <tr class="even_row">
            <th class="col1">
                Accounts
            </th>
            <th class="col2">
                Amount
            </th>
        </tr>
        {% for account in acc_info %}
            <tr class="{% cycle 'odd_row' 'even_row' %}">
                <td class="col1">{{ account.name }}</td>
                <td class="col2">{{ account.amount }}/-</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
