{% extends "root_with_navigation.html" %}
{% block title %}
All Blocked Users
{% endblock %}

{% block css_js %}
    {% load static %}
    <link rel="stylesheet" href="{% static "blocked.css" %}"/>
{% endblock %}
{% block page_content %}
    <br/>
            <div style="text-align: center"><h3>List of Blocked Users</h3></div>
    <form method="post" action="">
        {% csrf_token %}
        <table id="all_users">
            <tr>
                <th>Username</th>
                <th>User Type</th>
                <th>Mark</th>
            </tr>
            {% for user in users %}
                <tr class="{% cycle 'odd_row' 'even_row' %}">
                    <td><label for="{{ user.username }}">{{ user.username }}</label></td>
                    <td>{{ user.type }}</td>
                    <td><input type="checkbox" name="{{ user.username }}" id="{{ user.username }}"/></td>
                    {% comment %}CheckBox name must be equals to Username{% endcomment %}
                </tr>
            {% endfor %}
        </table>
        <div style="text-align: center;">
            <button style="margin-top: 10px;">Unblock Marked Users</button>
        </div>
    </form>
{% endblock %}
