{% extends 'root_with_navigation.html' %}
{% block title %}Change Password{% endblock %}
{% block css_js %}
    {% load static %}
    <script src="{% static 'common_functions.js' %}" type="text/javascript"></script>
{% endblock %}
{% block page_content %}
    <br/>
    <form action="" method="post">
        {% csrf_token %}
        <table style="margin: 0 auto">
            <tr>
                <td colspan="2" style="text-align: center;">
                    {% if err %}
                        <label id="status" style="color: RED;">{{ err }}</label>
                    {% elif info %}
                        <label id="status">{{ info }}</label>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align: end;"><label for="old_pass">Old Password:</label></td>
                <td style="text-align: start;"><input type="password" name="old_pass" id="old_pass"
                                                      style="width:97.5%;"/></td>
            </tr>
            <tr>
                <td style="text-align: end;"><label for="new_pass">New Password:</label></td>
                <td style="text-align: start;"><input type="password" name="new_pass" id="new_pass"
                                                      style="width:97.5%;"/></td>
            </tr>
            <tr>
                <td style="text-align: end;"><label for="new_pass2">Repeat New Password:</label></td>
                <td style="text-align: start;"><input type="password" name="new_pass2" id="new_pass2"
                                                      style="width:97.5%;"/></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: end;">
                    <button id="submit" style="width:100%;">Change Password</button>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
{% block js_code %}
    <script type="text/javascript">
        form = document.querySelector("form");
        old = document.querySelector("#old_pass");
        new1 = document.querySelector("#new_pass");
        new2 = document.querySelector("#new_pass2");
        button = document.querySelector("#submit");

        form.addEventListener("submit", function (event) {
            if (!validate_user_form()) {
                event.preventDefault();
            }
        });

        let invalidElement;
        let errorMessage;

        button.onclick = function () {
            old.style.backgroundColor = null;
            new1.style.backgroundColor = null;
            new2.style.backgroundColor = null;
            if (!validate_user_form()) {
                invalidElement.style.backgroundColor = "Orange";
                alertify.alert("Validation Error!", errorMessage);
            }
        };

        function validate_user_form() {
            if (getCharCount(old.value) === 0) {
                invalidElement = old;
                errorMessage = "Please give Old Password";
                return false;
            }
            if (getCharCount(new1.value) === 0) {
                invalidElement = new1;
                errorMessage = "Please give New Password";
                return false;
            }
            if (new2.value !== new1.value) {
                invalidElement = new1;
                errorMessage = "Passwords don't match";
                return false;
            }
            return true;
        }
    </script>
{% endblock %}
