{% extends 'root_with_navigation.html' %}
{% block title %}Report Generation{% endblock %}
{% block css_js %}
    {% load static %}
    <script src="{% static 'common_functions.js' %}" type="text/javascript"></script>
{% endblock %}
{% block page_content %}
    <br/>
    <div>
        <form action="" id="filter" method="post">
            {% csrf_token %}
            <table style="margin: 0 auto">
                <tr>
                    <td style="text-align: end;"><label for="from">Start Date:</label></td>
                    <td style="text-align: start;">
                        <input type="date" name="from" id="from" style="width:97.5%"/>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: end;"><label for="to">End Date:</label></td>
                    <td style="text-align: start;">
                        <input type="date" name="to" id="to" style="width:97.5%"/>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: end;">
                        Accounts:
                    </td>
                    <td></td>
                </tr>
                {% for account in account_list %}
                    <tr>
                        <td style="text-align: end;">
                            <input name="{{ account.value }}" id="{{ account.value }}" class="accs" type="checkbox"/>
                        </td>
                        <td style="text-align: start;">
                            <label for="{{ account.value }}">{{ account.name }}</label>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td style="text-align: end;">Transaction Type:</td>
                    <td></td>
                </tr>
                {% for tr_type in tr_types %}
                    <tr>
                        <td style="text-align: end;">
                            <input name="{{ tr_type.value }}" id="{{ tr_type.value }}" class="trss" type="checkbox"/>
                        </td>
                        <td style="text-align: start;">
                            <label for="{{ tr_type.value }}">{{ tr_type.name }}</label>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td style="text-align: end;"><label for="show_accountant">Show Accountant:</label></td>
                    <td style="text-align: start;">
                        <input type="checkbox" name="show_accountant" id="show_accountant"/>
                    </td>
                </tr>
                <input type="hidden" name="page" id="page" value="1"/>
                <tr>
                    <td style="text-align: center;" colspan="2">
                        <button id="submit" style="width:100%">Generate Report</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}
{% block js_code %}
    <script type="text/javascript">
        {% if date_error %}
            alertify.alert("Validation Error!", "Please select date carefully.");
        {% endif %}
        form = document.querySelector("form");
        from = document.querySelector("#from");
        to = document.querySelector("#to");
        button = document.querySelector("#submit");

        form.addEventListener("submit", function (event) {
            if (!validate_user_form()) {
                event.preventDefault();
            }
        });

        let invalidElement = null;
        let errorMessage;

        button.onclick = function () {
            from.style.backgroundColor = null;
            to.style.backgroundColor = null;
            if (!validate_user_form()) {
                if(invalidElement != null) {
                    invalidElement.style.backgroundColor = "Orange";
                }
                alertify.alert("Validation Error!", errorMessage);
            }
        };

        function validate_user_form() {
            if (from.valueAsDate == null) {
                invalidElement = from;
                errorMessage = "Please select Start Date";
                return false;
            }
            if (to.valueAsDate == null) {
                invalidElement = to;
                errorMessage = "Please select End Date";
                return false;
            }
            if (from.valueAsDate > to.valueAsDate) {
                invalidElement = to;
                errorMessage = "End Date must be later or same as Start Date";
                return false;
            }

            if (!is_any_checked('accs')) {
                errorMessage = "Please select at least one Account";
                return false;
            }
            if (!is_any_checked('trss')) {
                errorMessage = "Please select at least one Transaction Type";
                return false;
            }
            return true;
        }

        function is_any_checked(className) {
            let boxes = document.querySelectorAll("."+className);
            for (let i = 0; i < boxes.length; i++){
                if(boxes[i].checked)
                    return true;
            }
            return false;
        }
    </script>
{% endblock %}
