<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "all.css" %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}"/>
    <link rel="stylesheet" href="{% static "alertify.min.css" %}"/>
    <link rel="stylesheet" href="{% static "default.min.css" %}"/>
    <script src="{% static "alertify.min.js" %}"></script>
    {% block css_js %}{% endblock %}
</head>

<body>
<div>
    <header style="margin-top: 5px;">
        <div>
            <table style="margin: 0 auto;">
                <tbody style="align-self: center;">
                <tr>
                    <td {% comment %}rowspan="2"{% endcomment %} style="text-align: right; padding-right: 5px;">
                        {% load static %}
                        <a href="{% url 'index' %}"><img src="{% static "Mono-BRUR.jpg" %}" alt="brur_logo"
                                                         height="70px"/></a>
                    </td>
                    <td style="text-align: center; padding-left: 5px;white-space: nowrap;">
                        <span style="font-size: 1.2em;"><strong>Begum Rokeya University, Rangpur</strong></span>
                        <br>
                        <span style="font-size: 1.2em;">Dept. of Computer Science and Engineering</span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div style="text-align: center;">
                <h1>Account Management System</h1>
            </div>
        </div>
    </header>
</div>

<main>
    {% block main %}{% endblock %}
</main>
<footer>
    <div style="text-align: center;margin-bottom: 10px;">
        Developer Team: <a href="{% url 'about_devs' %}">Triple A</a>
    </div>
</footer>

{% block js_code %}{% endblock %}
</body>

</html>
