{% extends 'root.html' %}
{% block main %}
    <nav>
        <table id="nav">
            <tr>
            <th colspan="5" id="user"><label id="curr_user">Current User: {{ request.user.username }}</label></th>
            </tr>
            <tr>
                <td class="navi" id="home_page"><a href="{% url 'index' %}">Home</a></td>
                <td class="navi" id="balance_check"><a href="{% url 'balance_check' %}">Balance Check</a></td>
                <td class="navi" id="generate_report"><a href="{% url 'generate_report' %}">Generate Report</a></td>
                <td class="navi" id="change_password"><a href="{% url 'change_pass' %}">Change Password</a></td>
                <td class="navi" id="logout"><a href="{% url 'logout' %}">Logout</a></td>
            </tr>
        </table>
    </nav>
    {% block page_content %}{% endblock %}
{% endblock %}
