{% extends 'root_with_navigation.html' %}
{% block title %}
    Transactions
{% endblock %}
{% block css_js %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'view_all.css' %}"/>
    <script src="{% static 'common_functions.js' %}" type="text/javascript"></script>
{% endblock %}
{% block page_content %}
    <br/>
    <div>
        <form action="" id="filter" method="post">
            {% csrf_token %}
            <table style="margin: 0 auto">
                <tr>
                    <td style="text-align: end;"><label for="from">Start Date:</label></td>
                    <td style="text-align: start;">
                            <input type="date" name="from" id="from" style="width:97.5%"
                                   value="{{ start_date | date:"Y-m-d" }}"/>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: end;"><label for="to">End Date:</label></td>
                    <td style="text-align: start;">
                            <input type="date" name="to" id="to" style="width:97.5%"
                                   value="{{ end_date | date:"Y-m-d" }}"/>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: end;">
                        Accounts:
                    </td>
                    <td></td>
                </tr>
                {% for account in account_list %}
                    <tr>
                        <td style="text-align: end;">
                            {% if all_checked or account.value in checked%}
                                <input name="{{ account.value }}" id="{{ account.value }}" class="accs" type="checkbox" checked/>
                            {% else %}
                                <input name="{{ account.value }}" id="{{ account.value }}" class="accs" type="checkbox"/>
                            {% endif %}
                        </td>
                        <td style="text-align: start;">
                            <label for="{{ account.value }}">{{ account.name }}</label>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td style="text-align: end;">Transaction Type:</td>
                    <td></td>
                </tr>
                {% for tr_type in tr_types %}
                    <tr>
                        <td style="text-align: end;">
                            {% if all_checked or tr_type.value in checked %}
                                <input name="{{ tr_type.value }}" id="{{ tr_type.value }}" class="trss" type="checkbox" checked/>
                            {% else %}
                                <input name="{{ tr_type.value }}" id="{{ tr_type.value }}" class="trss" type="checkbox"/>
                            {% endif %}
                        </td>
                        <td style="text-align: start;">
                            <label for="{{ tr_type.value }}">{{ tr_type.name }}</label>
                        </td>
                    </tr>
                {% endfor %}

                <tr>
                    <td style="text-align: end;"><label for="full_dscr">Full Description:</label></td>
                    <td style="text-align: start;">
                        <input type="checkbox" name="full_dscr" id="full_dscr" {% if full_dscr %}checked{% endif %}/>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: end;"><label for="show_accountant">Show Accountant:</label></td>
                    <td style="text-align: start;">
                        <input type="checkbox" name="show_accountant" id="show_accountant" {% if show_accountant %}checked{% endif %}/>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: end;"><label for="show_student_id">Show Student ID:</label></td>
                    <td style="text-align: start;">
                        <input type="checkbox" name="show_student_id" id="show_student_id"
                               {% if show_student_id %}checked{% endif %}/>
                    </td>
                </tr>
                <input type="hidden" name="page" id="page" value="1"/>
                <tr>
                    <td style="text-align: center;" colspan="2">
                        <button id="submit" style="width:100%">Filter</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div><h4 style="text-align: center">Transactions</h4>
        <table id="data_table">

            <tr>
                <th class="sl">SL</th>
                <th class="date">Date, Time</th>
                <th class="acc">Account</th>
                <th class="amo">Amount</th>
                <th class="typ">Type</th>
                <th class="desc">Description</th>
                {% if show_accountant %}
                    <th class="show_accountant">Accountant</th>
                {% endif %}
                {% if show_student_id %}
                    <th class="show_student_id">Student ID</th>
                {% endif %}
            </tr>
            {% for t in trs %}
                <tr class="{% cycle 'odd_row' 'even_row' %}">
                    <td class="sl">{{ forloop.counter|add:first_ind }}</td>
                    <td class="date">{{ t.dt }}</td>
                    <td class="acc">{{ t.acc }}</td>
                    <td class="amo">{{ t.amount }}</td>
                    {% comment %}<td class="typ">{{ t.type }}</td>{% endcomment %}
                    <td class="typ"><a href="{{ t.doc_url }}" target="_blank">{{ t.type }}</a></td>
                    <td class="desc">{{ t.desc }}</td>
                    {% if show_accountant %}
                        <td class="show_accountant">{{ t.user_id }}</td>
                    {% endif %}
                    {% if show_student_id %}
                        <td class="show_student_id">{{ t.st_id }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        {% if not trs %}
            <div style="text-align: center;color: RED;">No Transactions Found</div>
        {% endif %}
    </div>
    <br>
    <div>
        <table style="margin: 0 auto;" id="all_page_numbers">
            <tr><td style="text-align: center;" colspan="{{ per_line }}">Go to page</td></tr>
            <tr>
                {% for p in page_numbers %}
                    {% if forloop.counter != cur_page %}
                        <td class="pageNo">{{ forloop.counter }}</td>
                        {% if not p %}
                            </tr><tr>
                        {% endif %}
                    {% else %}
                        <td style="color: orangered;">{{ forloop.counter }}</td>
                        {% if not p %}
                            </tr><tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        </table>
    </div>
    <input type="hidden" id="cur_page" value="{{ cur_page }}"/>
{% endblock %}
{% block js_code %}
    <script type="text/javascript">
        cur_page = document.querySelector("#cur_page");
        form = document.querySelector("form");
        page = document.querySelector('#page');
        button = document.querySelector("#submit");
        document.getElementById('all_page_numbers').addEventListener('click', function (clickEvent) {
            let ele = clickEvent.target;
            let nn = ele.innerText;
            if(!isNaN(nn) && nn !== cur_page.value){
                page.value = nn;
                button.click();
            }
        });

        from = document.querySelector("#from");
        to = document.querySelector("#to");
        prev_from = null;
        prev_to = null;
        button = document.querySelector("#submit");

        form.addEventListener("submit", function (event) {
            if (!validate_user_form()) {
                event.preventDefault();
            }
        });

        let invalidElement = null;
        let errorMessage;

        button.onclick = function () {
            from.style.backgroundColor = null;
            to.style.backgroundColor = null;
            if (!validate_user_form()) {
                if (invalidElement != null)
                    invalidElement.style.backgroundColor = "Orange";
                alertify.alert("Validation Error!", errorMessage);
            }
        };

        function validate_user_form() {
            if (from.valueAsDate == null && to.valueAsDate != null) {
                invalidElement = from;
                errorMessage = "Please select Start Date";
                return false;
            }
            if (from.valueAsDate != null && to.valueAsDate == null) {
                invalidElement = to;
                errorMessage = "Please select End Date";
                return false;
            }
            if (from.valueAsDate > to.valueAsDate) {
                invalidElement = to;
                errorMessage = "End Date must be later or same as Start Date";
                return false;
            }
            if (!is_any_checked('accs')) {
                errorMessage = "Please select at least one Account";
                return false;
            }
            if (!is_any_checked('trss')) {
                errorMessage = "Please select at least one Transaction Type";
                return false;
            }
            return true;
        }

        function is_any_checked(className) {
            let boxes = document.querySelectorAll("."+className);
            for (let i = 0; i < boxes.length; i++){
                if(boxes[i].checked)
                    return true;
            }
            return false;
        }
    </script>
{% endblock %}
