{% extends 'root.html' %}
{% block title %}
    Login
{% endblock %}
{% block main %}
    <br/>
    <div style="text-align: center; margin: 0 auto; color: red;">
        {% if form.errors %}
            <label id="error_msg">Username or Password is incorrect</label>
        {% endif %}
    </div>
    <br/>
    <form id="login-form" method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <table style="margin: 0 auto;" id="login_info">
            <tr>
                <td><label for="username">Username:</label></td>
                <td><input type="text" name="username" id="username"/></td>
            </tr>
            <tr>
                <td><label for="password">Password:</label></td>
                <td><input type="password" name="password" id="password" style="width:97.5%;"/></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: center">
                    <button style="width: 100%;">Login</button>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
